@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
*,*::after,*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Koulen', cursive;
}

body{
  background-color: #1b3746 !important;
}


#app{
  max-width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #1b3746;
  
}
#app >div{
  width: 100%;
}
.carousel__item {
  min-height: 200px;
  width: 100%;
  background-color: var(--vc-clr-primary);
  color: var(--vc-clr-white);
  font-size: 20px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel__slide {
  padding: 10px;
}

.carousel__prev svg,
.carousel__next svg {
  background-color: white;
}
.carousel__pagination button{
  background-color: white;
}
